<!--  
 * This is the secure index page. Accessible only to logged in users and admins
 * 
 * @author Adegoke Akanbi. Student ID: 991719830
 * @version 1.0
 */
-->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Secure Home Page</title>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" media="all" rel="stylesheet">
		<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	</head>
	<body>
		<header>
			<img id="system-logo" height="95px"
				src="../../static/images/Saraswati_Gyan_Mandir_School_Logo.jpg"
				th:src="@{/images/Saraswati_Gyan_Mandir_School_Logo.jpg}" 
			/>
			<span id="title">Zu'Ma High School</span>
			<a th:href="@{/secure}">Home</a>
			<a th:href="@{/secure/courseRegistration}">Enroll</a>
			<a th:if="${roleList.contains('ROLE_ADMIN') or roleList.contains('ROLE_TEACHER')}" th:href="@{/admin/grading}">Grading</a>
			<a th:if="${roleList.contains('ROLE_ADMIN') or roleList.contains('ROLE_TEACHER')}" th:href="@{/admin/transcript}">Transcript</a>
			<form method="post" th:action="@{/logout}" >
				<input type="submit" value="Logout" />
			</form>
			
		</header>
		
		
		
		<div th:if="${student != null}">
			<p>Welcome, [[${student.firstName}]]  [[${student.LastName}]]</p>
			
		</div>
		<div th:if="${student != null and roleList.contains('ROLE_USER')}">
			<p>You are currently registered in [[${count}]] course(s) this Semester.</p>
			
		</div>
		<div th:if="${student != null and (roleList.contains('ROLE_ADMIN') or roleList.contains('ROLE_TEACHER'))}">
			<p>You are an administrator here. Please grade or view student transcript. Thank you.</p>
			
		</div>
		<div th:if="${student == null}">
			<p>Hey Explorer! Please fill the form below before proceeding.</p>
			<form method="post" action="#" th:action="@{/secure}">
				
				<label for="firstname">  First Name:</label>
				<input type="text" name="firstname" /> <br>
				<label for="lastname"> Last Name:</label>
				<input type="text" name="lastname" /> <br>
				<input type="submit" value="Save Details!" />
			
			</form>
		</div>
		
		
		<footer>
				Copyright &copy; Adegoke Akanbi
		</footer>
	</body>
</html>